<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.contract.mapper.ContractItemInfoMapper">

    <resultMap type="ContractItemInfo" id="ContractItemInfoResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="customerName" column="legal_leader"/>
        <result property="contractName" column="contract_name"/>
        <result property="contractCode" column="contract_code"/>
        <result property="amounts" column="amounts"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="appendix" column="appendix"/>
        <result property="affixSealState" column="affix_seal_state"/>
        <result property="auditState" column="audit_state"/>
        <result property="nullifyState" column="nullify_state"/>
        <result property="inputUser" column="input_user"/>
        <result property="inputUserName" column="user_name"/>
        <result property="inputTime" column="input_time"/>
    </resultMap>

    <sql id="selectContractItemInfoVo">
        select ctr.id,
               ctr.customer_id,
               ctr.contract_name,
               ctr.contract_code,
               ctr.amounts,
               ctr.start_date,
               ctr.end_date,
               ctr.appendix,
               ctr.affix_seal_state,
               ctr.audit_state,
               ctr.nullify_state,
               ctr.input_user,
               ctr.input_time,
               ct.legal_leader,
               su.user_name
        from contract ctr
                 join customer ct on ctr.customer_id = ct.id
                 join sys_user su on ctr.input_user = su.user_id
    </sql>

    <select id="selectContractItemInfoList" parameterType="ContractItemInfo" resultMap="ContractItemInfoResult">
        <include refid="selectContractItemInfoVo"/>
        <where>
            <if test="auditState != null ">and ctr.audit_state = #{auditState}</if>
            <if test="inputTime != null ">and ctr.input_time = #{inputTime}</if>
        </where>
    </select>
</mapper>
