<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.customer.mapper.CustomerVisitMapper">

    <resultMap type="CustomerVisit" id="CustomerVisitResult">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="linkmanId" column="linkman_id"/>
        <result property="visitType" column="visit_type"/>
        <result property="visitReason" column="visit_reason"/>
        <result property="content" column="content"/>
        <result property="visitDate" column="visit_date"/>
        <result property="inputUser" column="input_user"/>
        <result property="inputTime" column="input_time"/>
    </resultMap>

    <sql id="selectCustomerVisitVo">
        select id,
               customer_id,
               linkman_id,
               visit_type,
               visit_reason,
               content,
               visit_date,
               input_user,
               input_time
        from customer_visit
    </sql>

    <select id="selectCustomerVisitList" parameterType="CustomerVisit" resultMap="CustomerVisitResult">
        <include refid="selectCustomerVisitVo"/>
        <where>
            <if test="visitType != null ">and visit_type = #{visitType}</if>
            <if test="visitReason != null  and visitReason != ''">and visit_reason like concat('%', #{visitReason},
                '%')
            </if>
            <if test="visitDate != null ">and visit_date = #{visitDate}</if>
        </where>
    </select>
</mapper>
