<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.store.mapper.GoodsCategoryMapper">

    <resultMap type="GoodsCategory" id="GoodsCategoryResult">
        <result property="id"    column="id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="categoryDesc"    column="category_desc"    />
        <result property="busiPath"    column="busi_path"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectGoodsCategoryVo">
        select id, category_name, category_desc, busi_path, parent_id from goods_category
    </sql>

    <select id="selectGoodsCategoryList" parameterType="GoodsCategory" resultMap="GoodsCategoryResult">
        <include refid="selectGoodsCategoryVo"/>
        <where>
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="categoryDesc != null  and categoryDesc != ''"> and category_desc like concat('%', #{categoryDesc}, '%')</if>
            <if test="params.beginParentId != null and params.beginParentId != '' and params.endParentId != null and params.endParentId != ''"> and parent_id between #{params.beginParentId} and #{params.endParentId}</if>
        </where>
    </select>
    <select id="selectByIdFormTree" resultMap="GoodsCategoryResult">
        <include refid="selectGoodsCategoryVo"/>
        where id in (select id
                     from goods_category
                     where busi_path like concat('%',#{id},'%'))
    </select>
    <select id="selectByBusiPath" resultType="com.ruoyi.store.domain.GoodsCategory">
        <include refid="selectGoodsCategoryVo"/>
        where busi_path = #{busiPath}
    </select>
    <select id="selectByParentId" resultType="com.ruoyi.store.domain.GoodsCategory">
        <include refid="selectGoodsCategoryVo"/>
        where id = #{parentId}
    </select>
    <select id="selectParentByPath" resultType="com.ruoyi.store.domain.GoodsCategory">
        <include refid="selectGoodsCategoryVo"/>
        where id in (select id
        from goods_category
        where busi_path like concat('%',#{path},'%'))
    </select>
</mapper>