<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.store.mapper.GoodsMapper">

    <resultMap type="Goods" id="GoodsResult">
        <result property="id" column="id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsCover" column="goods_cover"/>
        <result property="categoryId" column="category_id"/>
        <result property="brand" column="brand"/>
        <result property="spec" column="spec"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="amounts" column="amounts"/>
        <result property="storeId" column="store_id"/>
        <association property="category"
                     column="category_id"
                     select="com.ruoyi.store.mapper.GoodsCategoryMapper.selectByParentId"/>
        <!--        <association property="son" -->
        <!--                     select="com.ruoyi.store.mapper.GoodsMapper.selectById"-->
        <!--                     resultMap="com.ruoyi.store.mapper.GoodsStoreMapper.GoodsStoreResult"/>-->
    </resultMap>

    <sql id="selectGoodsVo">
        select good.id, goods_name, goods_cover, category_id, brand, spec, goods_desc,
               gs.amounts amounts,gs.store_id store_id
        from goods good
        join goods_store gs on good.id=gs.goods_id
    </sql>

    <select id="selectGoodsList" parameterType="Goods" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        <where>
            <if test="goodsName != null  and goodsName != ''">and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="brand != null  and brand != ''">and brand = #{brand}</if>
            <if test="spec != null  and spec != ''">and spec = #{spec}</if>
            <if test="goodsDesc != null  and goodsDesc != ''">and goods_desc = #{goodsDesc}</if>
            <if test="params.keyword !=null">
                and (goods_name like concat('%',#{params.keyword},'%')
                or brand like concat('%',#{params.keyword},'%')
                or spec like concat('%',#{params.keyword},'%')
                or goods_desc like concat('%',#{params.keyword},'%')
                )
            </if>
            <if test="params.classify !=null">
                and category_id=#{params.classify}
            </if>
            <if test="params.storeId !=null">
                and store_id=#{params.storeId}
            </if>
        </where>
    </select>
    <select id="selectById" resultType="com.ruoyi.store.domain.Goods">
        <include refid="selectGoodsVo"/>
        where good.id=#{id}
    </select>
    <select id="selectCategoryGoods" resultMap="GoodsResult">
        select gs.amounts from goods_category cate
        join goods good on cate.id=good.category_id
        join goods_store gs on gs.goods_id=good.id
        where cate.id in
        <foreach collection="list" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
</mapper>
