<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.store.mapper.GoodsStoreMapper">

    <resultMap type="GoodsStore" id="GoodsStoreResult">
        <result property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="storeId" column="store_id"/>
        <result property="amounts" column="amounts"/>
    </resultMap>

    <sql id="selectGoodsStoreVo">
        select gs.*
        from goods_category cate
                 join goods good on cate.id = good.category_id
                 join goods_store gs on gs.goods_id = good.id
    </sql>
    <insert id="updateList">
        insert into goods_store values
        <foreach collection="goodsStores" item="goods" separator=",">
            (#{goods.id},#{goods.goodsId},#{goods.storeId},#{goods.amounts})
        </foreach>
    </insert>
    <update id="updateByGoodsIdStoreId">
        update goods_store
        set amounts=#{amounts}
        where goods_id=#{goodsId} and store_id=#{storeId}
    </update>
    <delete id="deleteByGoodsIdStoreId">
        delete from goods_store where goods_id=#{goodsId} and store_id=#{storeId}
    </delete>

    <select id="selectGoodsStoreList" parameterType="GoodsStore" resultMap="GoodsStoreResult">
        <include refid="selectGoodsStoreVo"/>
        <where>
            <if test="goodsId != null  and goodsId != ''">and gs.goods_id = #{goodsId}</if>
            <if test="storeId != null  and storeId != ''">and gs.store_id = #{storeId}</if>
            <if test="amounts != null ">and gs.amounts = #{amounts}</if>
            <if test="params.classify !=null">
                and cate.id=${params.classify}
            </if>
        </where>
    </select>
    <select id="selectByGoodsIdStoreId" resultType="java.lang.Long">
        select amounts from goods_store where goods_id=#{goodsId} and store_id=#{storeId}
    </select>
</mapper>
